/*define colors*/
@paleAqua: #96d1d9;
@newGreen: #00ff15;
@blood: #fa475c;

/*define mixins*/

.border(@thickness: 2px){
	border: @thickness solid black;
}

.gradient(@start: black, @stop: white, @origin: left){
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}
.roundedCorners(@radius: 10px){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.brand{
	float:left;
	margin-right: 5px;	
}

fieldset.module{	
		position:fixed;
		right: 80px;
		bottom: 10px;	

		font-size: 2em;
}

.module{
	box-sizing: border-box;
	clear: both;
	width: 50%;
	margin: 10px;
	padding: 10px 0 10px 35px;
	.roundedCorners(8px);
}

fieldset{
	background-color: @newGreen;
	opacity: 1;
}

.title{
	.border();	
	.gradient(@newGreen, blue);
}
footer{
	//position: absolute;
	z-index: -1;
	margin: 0 auto;
	border: 5px ridge @blood;
	.roundedCorners();
	padding: 10px;	
	bottom: 0;
}
body{
	background-color: @newGreen;
}
tr{
	&:nth-child(odd){
		background-color:black;
	}
}
td{
	font: bold 1em Serif;	
}

main{
	td{
		font: normal 2em Sans-Serif;
		color: #fff;
	}
}

@media (max-height: 350px){
	footer{
		bottom: auto;
	}
}