/*define colors*/
/*define mixins*/
.brand {
  float: left;
  margin-right: 5px;
}
fieldset.module {
  position: fixed;
  right: 80px;
  bottom: 10px;
  font-size: 2em;
}
.module {
  box-sizing: border-box;
  clear: both;
  width: 50%;
  margin: 10px;
  padding: 10px 0 10px 35px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
fieldset {
  background-color: #00ff15;
  opacity: 1;
}
.title {
  border: 2px solid #000000;
  background-color: #00ff15;
  background-image: -webkit-linear-gradient(left, #00ff15, #0000ff);
  background-image: -moz-linear-gradient(left, #00ff15, #0000ff);
  background-image: -o-linear-gradient(left, #00ff15, #0000ff);
  background-image: -ms-linear-gradient(left, #00ff15, #0000ff);
  background-image: linear-gradient(left, #00ff15, #0000ff);
}
footer {
  z-index: -1;
  margin: 0 auto;
  border: 5px ridge #fa475c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  bottom: 0;
}
body {
  background-color: #00ff15;
}
tr:nth-child(odd) {
  background-color: black;
}
td {
  font: bold 1em Serif;
}
main td {
  font: normal 2em Sans-Serif;
  color: #fff;
}
@media (max-height: 350px) {
  footer {
    bottom: auto;
  }
}
